section
  section
    h2 Plataformas disponíveis
  section
    h3 Facebook Messenger
  section
    img(src="img/facebook.jpg", alt="", style="max-height: 600px")
  section
    h3 Telegram
    a(href="http://raphaklaus.com/artigos/como-um-bot-telegram-salvou-olimpiadas/", target='_blank') Olimpíadas Rio 2016
  section
    h3 Inline bots
    a(href="https://storebot.me/", target='_blank') Telegram bot store
  section
    h3 Slack
  section
    h3 Whatsapp
    div
      img(src="http://i.giphy.com/3o7TKxUJM67kp7lsPe.gif", alt="")
    a(href="https://www.maxapp.co/pt", target='_blank')
      | maxapp.co
