section
  h2 Referências
  ul
    li
      a(href='https://github.com/victormiguez/telegram-chat-bot' target='_blank') Telegram Avengers Bot
    li
      a(href='https://core.telegram.org/bots' target='_blank') Telegram Bots
    li
      a(href='https://chatbotsmagazine.com/the-complete-beginner-s-guide-to-chatbots-8280b7b906ca' target='_blank') Chatbots Magazine
