doctype html
html
	head
	include inc/head
	body
		.reveal
			.slides
				include ../slides/hello.jade
				include ../slides/me.jade
				include ../slides/intro.jade
				include ../slides/platforms.jade
				include ../slides/demo.jade
		include inc/scripts
